// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


.spt-menu{
    background: red !important;
}

.scroll-content{
    margin-bottom: 3%;
}

.spt-menu button{
    background: #f0c24b;
    padding-left: 22px;
    padding-right: 22px;
    color: #1f295c;
    font-weight: 500;
    font-size: 18px;
    line-height: 50px;
    height: 50px;
}


.list-md .item-block .item-inner {
    border-bottom: 1px solid #dcaf3c;
}