.ios, .md {
 
    page-intro {
   
      ion-slide {
        background-color: #fff;
      }
   
      ion-slide img {
        height: auto !important;
        width: auto !important;
      }

      .st-bt{
        
      }
   
    }
   
  }