page-answer-sheet {

}

.ant-as{
    background: fff;
}

.ant-as ion-item{
    padding: 12px;
    margin: 10px;
    width: 95%;
    background: #edf1f4;
    border-radius: 3px;
}
.r-ins p{
    border: 1px solid #dedede;
    padding: 0px;
    height: 35px;
    line-height:35px;
    background: #fff;
    padding-left: 12px;    
    padding-right: 12px;
    margin-bottom: 10px;
    border-radius: 0px;
}